:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --verde-olivo: #1E2B1E;
    --gris-carbon: #2B2B2B;
    --beige: #E8E8E0;
    --verde-letras: #808000;
}



html {
    background-color: var(--beige);
    font-size: 62.5%;
    box-sizing: border-box;
}


.nav-logo{
    height: 5rem;

}



.nav-principal {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: var(--oscuro);
}

.nav-principal a{
    color: var(--gris-carbon);
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1rem;

}



.nav-principal a:hover{
    color: var(--verde-letras);
    text-decoration: underline;

}


.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

@media(min-width:768px){
    .centro {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}
.centro{
    padding: 4rem 3rem;
    margin-bottom: 5rem;
    border-bottom: 0.1rem;
    background-color: var(--oscuro);
    height: 33rem;
    background: linear-gradient(135deg, #0d0f0d 0%, #1e2b1e 45%, #1e3a3a 75%, #000000 100%);
    min-height: 38rem;
    display: flex;

}

.centro-division{
    flex: 1;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.centro-division img{
    width: 67%;
    height: auto;              
    aspect-ratio: 1 / 1;       
    object-fit: cover;
    border-radius: 1.5rem;     
    display: block;
}

.centro-division p{
    margin-bottom: 1.5rem;
    color: var(--beige);
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 25rem;
}

.imagen-principal{
    background-image: url("../img/principal/principal-foto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65rem;
    position: relative;
    margin: 0;
}


